body{
    margin: 0px;
   }

.box {
    /* flex-basis: 10%; */
    /* flex-grow:1; */
    /* width: 100vh; */
    margin-top: 0;
    padding: 0px 10px 10px 10px;
}

.container img {
    width: 100px;
}

.container {
    background-color: darkgray;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.box-4 {
    margin-left: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 10px;
}



